body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Winky Sans", Tahoma, Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

.navbar {
  padding: 15px;
  text-align: center;
  background-color: aliceblue;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin: 10px 0;
}

.nav-list a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: #007BFF;
}

.nav-list .active {
  color: #007BFF;
  font-weight: 700;
}

.contact-container {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.contact-container h2 {
  margin-bottom: 5px;
  font-size: 24px;
  color: #2c2c2c;
}

.subtitle {
  margin-bottom: 20px;
  color: #777;
  font-size: 14px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 15px;
}
.contact-con{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.input-group {
  position: relative;
  display: flex;
  gap:5px;
  align-items: center;
}

.input-group img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 12px;
  opacity: 0.6;
}

.input-group input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
.subjects{
  padding: 10px;
  border-radius: 5px;
  color:#777;
}
.subjects option{
  color:#2c2c2c;
}

.contact-form button {
  padding: 12px;
  background-color: #071952;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0a2a7c;
}

.footer-note {
  margin-top: 20px;
  font-size: 13px;
  color: #777;
}
